link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')

head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel='stylesheet' href='../../stylesheets/login.css')

body#loginForm
    .container
        .login_form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            =info.message
                    h2 Cambio de password
                    p Por favor, ingrese su nueva clave
                form#login(action='/resetPassword' method='post')
                    input#email(type="hidden" name='email' value=usuario.email )
                    .form-group
                        label(for="pwd") Password:
                        input#pwd.form-control(type='password' name='password'  class=errors.password ? 'is-invalid':'' )
                        if errors.password
                            small#passwordHelp.text-danger
                                = errors.password.message
                    <br>
                    .form-group 
                        label(for="confirm_pwd") Confirmar Password:
                        input#confirm_pwd.form-control(type='password' name='confirm_password' class=errors.confirm_password ? 'is-invalid':'')
                        if errors.confirm_password
                            small#confirm_passwordHelp.text-danger
                                = errors.confirm_password.message
                
                    button.btn.btn-primary(type='submit') Login 