extends layout

block content
  body
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Welcome
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') Nosotros
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#main_map') Mapa
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/bicicletas') Bicicletas
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/bicicletas/create') Crear bicicletas
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#signup') Contactos
    // Masthead
    header.masthead
      .container.d-flex.h-100.align-items-center
        .mx-auto.text-center
          h1.mx-auto.my-0.text-uppercase RED bicicletas
          h2.text-white-50.mx-auto.mt-2.mb-5 Red social de ciclistas.
          a.btn.btn-primary.js-scroll-trigger(href='#about') Empezar
    // About
    section#about.about-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2.text-white.mb-4 ¿Quienes somos?
            p.text-white-50
              | una res social donde podemos ver donde hay ciclistas urbanos. 
        img.img-fluid(src='images/ipad.png' alt='')
    // Projects
    section#projects.projects-section.bg-light
      .container
        h2.text-black.mb-4 mapa
        #main_map
    // Signup
    footer.footer.bg-black.small.text-center.text-white-50
    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
    // Core theme JS
    script(src='javascripts/scripts.js')
    script(src="javascripts/map.js")
